<h1>Welcome to Qunatumtopia</h1>
<p>Our list of services:</p>
<ul>
  <% @welcomes.each do |welcome| %>
    <li>
      <% cache welcome do %>
        <%= welcome.service %>
      <% end %>
    </li>
  <% end %>
</ul>
<p><%= link_to "View events", events_path %></p>
<p><%= link_to "Login", users_path %></p>

