<h1>My Events#index</h1>

<p> IT </p>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event %>
    </li>
  <% end %>
</ul>

<a href="/users#index">Back to user profile</a>