<p>Logged in as <%= current_user.email %><%= button_to "logout", destroy_user_session_path, method: :delete  %></p>
<h1>My Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event %>
    </li>
  <% end %>
</ul>

<a href="/users#index">Back to user profile</a>